@import 'variables.scss';
@import 'reset.scss';
@import 'utils.scss';
@import 'editor.scss';


body {
  font-family: $font-primary;
  color: #444;
  a {
    text-decoration: none;
    color: $link;
    &:hover {
      color: $link-hover;
    }
  }
}

// Main layout

#idefix {
  #idefix-topbar {
    background: $color-primary;
    height: $top-bar-height;
    color: white;
    #idefix-logo {
      color: $link-hover;
      font-family: $font-console;
      background: #083825;
      width: 160px;
      height: $top-bar-height;
      font-size: 2em;
      line-height: 1.6em;
      text-align: center;
      text-shadow: 1px 1px 0px #22ffac;
      font-weight: normal;

    }
  }
  #idefix-leftpane {
    background: #eee;
    width: 20%;
    position: fixed;
    top: $top-bar-height;
    left: 0;
    bottom: 0;
    overflow: auto;
  }
  #idefix-rightpane {
    background: #fdfdfd;
    width: 80%;
    position: fixed;
    top: $top-bar-height;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}


// Components


// - browser

// - editor

#idefix-fixture-browser {
  padding: 20px;
  font-family: $font-console;
  .item {
    cursor: pointer;
  }
  .folder {
    font-weight: bold;
    color: $color-primary;
  }
  .file {
    font-size: 0.9em;
    letter-spacing: 0.01em;
  }
  ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: none;
    li .item {
      &:hover {
        color: $color-primary;
        font-weight: bold;
        background: #f7fff1;
        border-radius: 3px;
      }
    }
  }
}

// - tabs

#idefix-tabs {
  background: #eee;
  padding: 2px 0 0 1px;
  li {
    float: left;
    background: gainsboro;
    a {
      padding: 10px 8px;
      display: block;
      margin: 0 3px 0 0;
      color: #444;
      font-family: $font-console;
      cursor: pointer;
    }
    &:hover {
      background: #f7fff1;
    }
    &.open {
      background: #fdfdfd;
    }
  }
}
