$color-primary: #0C4B33;

$font-primary: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
$font-console: Menlo, Consolas, monospace;

$link: #44B78B;
$link-hover: #51be95;
$top-bar-height: 56px;
