<!-- https://gojs.net/latest/samples/umlClass.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Idefix | fixtures management and manipulation</title>
    <link rel="stylesheet" href="/css/idefix.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/vue.min.js"></script>
    <script type="text/x-template" id="browser-node">
    <li>
      <div :class="{folder: isFolder, file: !isFolder}" @click="toggle">
        <!--<span>[{{model.open ? '-' : '+'}}]</span>-->
        <i :class="{'fa fa-folder-open': model.open, 'fa fa-folder': !model.open}" v-if="isFolder"></i>
        <i class="fa fa-file-code-o" v-if="!isFolder"></i>
        <span class="unselectable">{{model.name}}</span>
      </div>
      <ul v-show="model.open" v-if="isFolder">
        <item class="item" v-for="model in model.children" :model="model"></item>
        <!--<li class="add" @click="addChild">+</li>-->
      </ul>
    </li>
    </script>
  </head>
  <body>

    <div id="idefix-leftpane">
      <ul id="idefix-browser">
        <item class="item" :model="treeData"></item>
      </ul>
    </div>
    <div id="idefix-rightpane">
    </div>

  </body>
  <script src="/js/idefix.js"></script>
</html>
