<!-- https://gojs.net/latest/samples/umlClass.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Idefix | fixtures management and manipulation</title>
    <link rel="stylesheet" href="/css/idefix.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/vue.min.js"></script>
    <script type="text/x-template" id="browser-node">
    <li>
      <div :class="{folder: isFolder, file: !isFolder}" @click="browse">
        <!--<span>[{{model.open ? '-' : '+'}}]</span>-->
        <i :class="{'fa fa-folder-open': model.open, 'fa fa-folder': !model.open}" v-if="isFolder"></i>
        <i class="fa fa-file-code-o" v-if="!isFolder"></i>
        <span class="unselectable">{{model.name}}</span>
      </div>
      <ul v-show="model.open" v-if="isFolder">
        <item class="item" v-for="model in model.children" :model="model"></item>
        <!--<li class="add" @click="addChild">+</li>-->
      </ul>
    </li>
    </script>
    <script type="text/x-template" id="editor-fixture">
    <li class="fixture">
      <span class="f-curly-brace">{</span>
        <span v-for="(value, key, index) in model.data">
            <span class="f-index" v-text="index"></span>
            <span class="f-key" v-text="k"></span>
            <span class="f-colon">:</span>
            <span class="f-value" v-text="val"></span>
            <span class="f-comma">,</span>
        </span>
      <span class="f-curly-brace">{</span>
    </li>
    </script>
  </head>
  <body>

    <div id="idefix-leftpane">
      <ul id="idefix-browser">
        <item class="item" :model="state"></item>
      </ul>
    </div>
    <div id="idefix-rightpane">
      <div id="idefix-editor">
        <span class="f-square-bracket">[</span>
          <ul class="fixtures">
            <fixture class="item" :model="state"></fixture>
          </ul>
        <span class="f-square-bracket">]</span>
      </div>
    </div>

  </body>
  <script src="/js/idefix.js"></script>
</html>
