/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  -o-user-select: none;
  user-select: none; }

.clear {
  clear: both;
  float: none !important; }

#idefix-fixture-editor-buffers .f-add {
  opacity: 0.3;
  color: #999;
  cursor: pointer; }
  #idefix-fixture-editor-buffers .f-add:hover {
    color: #51be95;
    opacity: 1; }
  #idefix-fixture-editor-buffers .f-add.field {
    position: absolute;
    margin-left: 20px; }
  #idefix-fixture-editor-buffers .f-add.fixture {
    position: absolute;
    margin-left: 20px; }
    #idefix-fixture-editor-buffers .f-add.fixture.top {
      margin-top: -16px; }
#idefix-fixture-editor-buffers .idefix-fixture-editor-buffer {
  font-family: Menlo, Consolas, monospace;
  padding: 20px; }
  #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .f-square-bracket {
    color: #999;
    display: block; }
  #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row:hover {
    background: #f7fff1;
    border-radius: 5px; }
  #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row ul {
    margin-left: 20px; }
    #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row ul li:last-child .f-comma {
      display: none; }
  #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row .key-val {
    margin-left: 20px;
    padding: 4px 0; }
    #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row .key-val .f-curly-brace {
      color: #666;
      display: block; }
    #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row .key-val .f-key {
      color: #0C4B33;
      font-weight: bold; }
    #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row .key-val .f-value {
      padding: 2px 4px; }
      #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row .key-val .f-value:hover {
        background: #fff8dc;
        cursor: pointer; }
    #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row .key-val .fields .f-curly-brace {
      display: inline-block; }
  #idefix-fixture-editor-buffers .idefix-fixture-editor-buffer .fixtures .row:last-child .f-comma {
    display: none; }

body {
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
  color: #444; }
  body a {
    text-decoration: none;
    color: #44B78B; }
    body a:hover {
      color: #51be95; }

#idefix #idefix-topbar {
  background: #0C4B33;
  height: 56px;
  color: white; }
  #idefix #idefix-topbar #idefix-logo {
    color: #51be95;
    font-family: Menlo, Consolas, monospace;
    background: #083825;
    width: 160px;
    height: 56px;
    font-size: 2em;
    line-height: 1.6em;
    text-align: center;
    text-shadow: 1px 1px 0px #22ffac;
    font-weight: normal; }
#idefix #idefix-leftpane {
  background: #eee;
  width: 20%;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  overflow: auto; }
#idefix #idefix-rightpane {
  background: #fdfdfd;
  width: 80%;
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  overflow: auto; }

#idefix-fixture-browser {
  padding: 20px;
  font-family: Menlo, Consolas, monospace; }
  #idefix-fixture-browser .item {
    cursor: pointer; }
  #idefix-fixture-browser .folder {
    font-weight: bold;
    color: #0C4B33; }
  #idefix-fixture-browser .file {
    font-size: 0.9em;
    letter-spacing: 0.01em; }
  #idefix-fixture-browser ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: none; }
    #idefix-fixture-browser ul li .item:hover {
      color: #0C4B33;
      font-weight: bold;
      background: #f7fff1;
      border-radius: 3px; }

#idefix-tabs {
  background: #eee;
  padding: 2px 0 0 1px; }
  #idefix-tabs li {
    float: left;
    background: gainsboro; }
    #idefix-tabs li a {
      padding: 10px 8px;
      display: block;
      margin: 0 3px 0 0;
      color: #444;
      font-family: Menlo, Consolas, monospace;
      cursor: pointer; }
    #idefix-tabs li:hover {
      background: #f7fff1; }
    #idefix-tabs li.open {
      background: #fdfdfd; }

/*# sourceMappingURL=idefix.css.map */
